.promt-img{
   
    width: 80%;
    
}
.promote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pa{
    font-size: 15px;
    text-align: justify;
    padding-left: 37px;
    padding-right: 37px;
}
.pim{
    width: 60px;
    height: 60px;
}
.promote-gif{
    padding-left: 37px;
    padding-right: 37px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}
.noty-prof{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.notofication{
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 20px;
}
.notify{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-shadow: -3px 7px 46px -2px rgba(0,0,0,0.54);
-moz-box-shadow: -3px 7px 46px -2px rgba(0,0,0,0.54);
box-shadow: -3px 7px 46px -2px rgba(0,0,0,0.54);
padding: 4px;
border-radius: 30px;
margin-bottom: 4px;

    
}