.left-container{
   
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
   
    border-radius: 20%;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(223, 223, 223);
  
}
.left-content{
    padding: 0px;
    margin: 0px;
}
.left-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 10px;
    /* border-bottom: 1px solid rgb(83, 83, 83); */
}
.left-icon{
    margin-right: 7px;
    margin-bottom: 4px;
}
.page{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 10px;
}