.new-post{
   
    margin-top: 20px;
    margin-left: 10px;
    -webkit-box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.47);
    -moz-box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.47);;
    border-radius: 20px;
    height: 120px;
}
.post-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 2px;
   
}
.post-top{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 5px;

}
.post-inputs{
    width: 80%;
    display: flex;
    align-items: center;
}
.post-input{
    width: 80%;
    border: none;
  
}
.post-input:focus{
  outline: none;
  border: none;
  
}
.bottom-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-bottom{
    padding-left: 42px;
    padding-right: 42px;
}
.pohr{
    margin: 20px;
}